@page "/addtodo"
@using frontend.Shared
@inject HttpClient Http
@inject NavigationManager NavManager

<h1>Add Todo</h1>

<EditForm Model="@model" OnValidSubmit="@CreateTodo">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label>Name:</label>
        <div>
            <InputText @bind-Value="@model.Name" id="name" />
            <ValidationMessage For="@(() => model.Name)" />
        </div>
    </div>
    <button type="submit">Submit</button>
</EditForm>

@code {
    private TodoItemResource model = new TodoItemResource();

    async Task CreateTodo()
    {
        var result = await Http.PostAsJsonAsync<TodoItemResource>("/todo", model);
        NavManager.NavigateTo("todos");
    }
}