@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<p>
    This project demonstrates using Tye to run a local, containerized SQL Server instance.
</p>
<ul>
    <li>To run the entire solution via Tye: <code>tye run</code></li>
    <li>To run just SQL Server via Tye: <code>tye run tye.sqlserver.yaml</code></li>
</ul>