<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">frontend</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="oi oi-cloudy" aria-hidden="true"></span> Weather
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="people">
                <span class="oi oi-people" aria-hidden="true"></span> People
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="addperson">
                <span class="oi oi-person" aria-hidden="true"></span> Add Person
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="todos">
                <span class="oi oi-list" aria-hidden="true"></span> Todos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="addtodo">
                <span class="oi oi-check" aria-hidden="true"></span> Add Todo
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="students">
                <span class="oi oi-pencil" aria-hidden="true"></span> Students
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="books">
                <span class="oi oi-book" aria-hidden="true"></span> Books
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="birds">
                <span class="oi oi-wifi" aria-hidden="true"></span> Birds
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fruit">
                <span class="oi oi-command" aria-hidden="true"></span> Fruit
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
