@page "/birds"
@using frontend.Shared
@inject HttpClient Http

<h1>Birds</h1>
<p>Demonstrates loading data out of a PostgreSQL-backed API.</p>

@if (birds == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Wingspan</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bird in birds)
            {
                <tr>
                    <td>@bird.Id</td>
                    <td>@bird.Name</td>
                    <td>@bird.WingSpan</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private BirdResource[] birds;

    protected override async Task OnInitializedAsync()
    {
        birds = await Http.GetFromJsonAsync<BirdResource[]>("Birds");
    }
}