@page "/students"
@using frontend.Shared
@inject HttpClient Http

<h1>Students</h1>

@if (students == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in students)
            {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.FullName</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private StudentResource[] students;

    protected override async Task OnInitializedAsync()
    {
        students = await Http.GetFromJsonAsync<StudentResource[]>("Students");
    }
}