@page "/todos"
@using frontend.Shared
@inject HttpClient Http

<h1>Todos</h1>

@if (todos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Is Complete?</th>
                <th>Name</th>
                <th>ID</th>
                <th>Weather Temp. C</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var todo in todos)
            {
                <tr>
                    <td>@todo.IsComplete</td>
                    <td>@todo.Name</td>
                    <td>@todo.Id</td>
                    <td>@todo.WeatherForecast?.TemperatureC</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private TodoItemResource[] todos;

    protected override async Task OnInitializedAsync()
    {
        todos = await Http.GetFromJsonAsync<TodoItemResource[]>("Todo");
    }
}